@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 86%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5% 5% 20% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dateForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  border-bottom: 1px solid hsl(0, 1%, 81%);
  height: 20vh;
  padding: 3rem;
}

.dateForm .inputBox {
  display: flex;
  flex-direction: column;
  width: auto;
}

label {
  color: hsl(0, 1%, 44%);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2pt;
  margin: 5px;
}

.dateForm .inputBox .dateBox {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 86%);
  font-size: 2rem;
  font-weight: 700;
  width: calc(200px - 3rem);
}

input::placeholder {
  color: hsl(0, 1%, 44%);
}

.dateForm .inputBox .error {
  color: hsl(0, 100%, 67%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  border-radius: 50%;
  padding: 10px;
  border: none;
  background-color: hsl(259, 100%, 65%);
  position: absolute;
  bottom: -20%;
  /* transform: translate(-50%, -50%); */
  left: 45%;
}

#result {
  padding: 2rem;
  margin: 15px 0;
}

.calcRes {
  font-size: 3rem;
  font-weight: 800;
}
.resNum {
  color: hsl(259, 100%, 65%);
}

@media screen and (max-width: 640px) {
    .dateForm .inputBox .dateBox {
        width: calc(150px - 3rem);
      }
}